* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(231, 231, 231, 0.781);
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}


/* inicio del codigo de pendientes por hacer */


/* Remove margins and padding from the list */

ul {
    margin: 0;
    padding: 0;
    z-index: 1px;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    height: calc(100% - 26px - 26px);
}


/* Style the list items */

ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    /* background: #307d948a; */
    background-color: rgba(23, 95, 88, 0.3);
    font-size: 18px;
    transition: 0.2s;
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Set all odd list items to a different color (zebra-stripes) */

ul li:nth-child(odd) {
    /* background: #307d9497; */
    z-index: 0;
}


/* Darker background-color on hover */

ul li:hover {
    background: rgba(170, 168, 168, 0.867);
    z-index: 0;
}


/* When clicked on, add a background color and strike out text */

ul li.checked {
    background: rgb(53, 53, 53);
    color: rgb(216, 221, 216);
    text-decoration: line-through 2px rgb(104, 241, 36);
    z-index: 0;
}


/* Add a "checked" mark when clicked on */

ul li.checked::before {
    content: '';
    position: absolute;
    border-color: rgb(181, 247, 38);
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}


/* Style the close button */

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.close:hover {
    background-color: #f44336;
    color: white;
}


/* Style the header */

.hdr {
    /* background-color: #0000007b; */
    /* padding: 30px 40px; */
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(23, 95, 88, 0.44);
    width: 100%;
}


/* Clear floats after the header */

.hdr:after {
    content: "";
    clear: both;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 26px 0;
}


/* Style the input */

.AddText {
    margin: 0;
    border: none;
    border-radius: 0;
    width: calc(100% - 20% - 60px);
    padding: 10px;
    float: left;
    font-size: 16px;
}


/* Style the "Add" button */

.addBtn {
    padding: 10px;
    width: 60px;
    background: #ff7e28e2;
    color: rgb(255, 255, 255);
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}

.addBtn:hover {
    background-color: #bbb;
}


/* fin del codigo de pendientes por hacer */

.Login {
    background-color: rgb(255, 108, 44);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 20px;
    margin: 50px;
    border: none;
    filter: drop-shadow(5px 5px 5px hsl(0deg 0% 0% /0.5));
    cursor: pointer;
}

.Login h1 {
    font-size: 12px;
    color: #ffffff;
    filter: drop-shadow(3px 3px 0.8px hsl(0deg 0% 0% / 0.5));
}


/* cronometro */

.crono_wrapper {
    text-align: center;
    width: 200px;
}


/* fin de cronometro */

.header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    /* background-color: rgb(10, 116, 134); */
    /* background-image: linear-gradient(36deg, rgb(166, 255, 0), rgb(15, 155, 248)); */
    background: #0F2027;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.header .logo {
    width: 50px;
    height: auto;
    /* color: rgb(10, 163, 99); */
    background: linear-gradient(to right, rgb(230, 162, 17), rgb(226, 52, 33));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Bebas Neue', cursive;
}

.header .logo img {
    width: 60px;
}

.header .titulo {
    width: calc(100% - 60px - 24px);
    height: auto;
    color: white;
}

.header .menu {
    width: 20px;
    height: auto;
    /* color: rgb(187, 255, 0); */
    background: -webkit-linear-gradient(rgb(169, 255, 10), rgb(0, 255, 221));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: none;
    font-size: 32px;
    cursor: pointer;
}

.todo-menu {
    display: flex;
    position: absolute;
    z-index: 0;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    top: 0;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: transparent;
    font-size: 0;
}

.todo-menu button {
    width: 0;
    height: 0;
    margin: 0;
    border-radius: 0;
    color: transparent;
    background-color: transparent;
    border: none;
    font-size: 0;
    cursor: pointer;
}


/* menu activado */

.todo-menu.blue {
    display: flex;
    position: absolute;
    z-index: 101px;
    width: 100%;
    height: calc(100% - 76px);
    color: red;
    margin: 0;
    padding: 0;
    top: 50px;
    background-color: rgb(18, 18, 24);
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.todo-menu.blue button {
    width: 250px;
    height: 44px;
    margin: 6px 0;
    border-radius: 8px;
    color: #0F2027;
    background-color: #a2ccdf;
    font-size: 24px;
}


/* fin menu activado */


/* fin del header */


/* comienzo del contenido */

.content {
    width: 100%;
    height: calc(100% - 50px - 26px);
    overflow: scroll;
}


/* fin del contenido */

.Qr.red {
    width: 0;
    height: 0;
    background-color: transparent;
    display: none;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 0;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
}

select {
    color: rgba(255, 234, 0, 0.772);
    background-color: transparent;
    outline: 0;
    border: 0;
    border-radius: 0;
    width: 8px;
    height: 8px;
    display: inline-block;
    cursor: pointer;
    margin: 0 0 0 8px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: 1em;
    position: relative;
    transition: all 0.25s ease;
}

.content-select i {
    position: absolute;
    right: 2px;
    top: calc(50% - 26px);
    width: 16px;
    height: 16px;
    display: block;
    border-left: 4px solid #2AC176;
    border-bottom: 4px solid #2AC176;
    transform: rotate(-45deg);
    /* Giramos el cuadrado */
    transition: all 0.25s ease;
}


/* select {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 7px 10px;
    height: 42px;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: #f0f0f0;
    color: #7b7b7b;
    font-size: 1em;
    color: #999;
    font-family: 'Quicksand', sans-serif;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    position: relative;
    transition: all 0.25s ease;
} */

.Qr select::-ms-expand {
    display: none;
    width: 8px;
    height: 8px;
}

.Qr.red h1 {
    font-size: 0;
    color: transparent;
    margin: 0;
}

.Qr.red .textoU {
    border: none;
    padding: 0;
    border-radius: none;
    width: 0;
    margin: 0;
}

.Qr.red .btn {
    width: 0;
    padding: 0;
    border-radius: 0;
    border: none;
    margin: 0;
    height: 0;
    font-size: 0;
}

.Qr.red .close-Qr {
    color: #ffffff;
    border: none;
    display: flex;
    margin: 2px 0 0 4px;
    position: absolute;
    padding: 2px;
    cursor: pointer;
    top: 54px;
    right: 8px;
    border-radius: 50%;
    background-color: #175a779a;
    backdrop-filter: blur(2px);
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.Qr.red .close-Qr .der {
    display: none;
}

.Qr.red .close-Qr .Izq {
    display: block;
}


/* clase para Qrcode */

.Qr {
    width: 200px;
    height: 100px;
    background-color: #246c8b6e;
    backdrop-filter: blur(2px);
    display: none;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 8px;
    position: absolute;
    top: 50px;
    right: 2px;
    margin: 2px 0;
}

.Qr h1 {
    font-size: 14px;
    /* color: rgb(0, 122, 223); */
    color: #d1ff2a;
    text-shadow: 2px 2px 2px #000000;
    margin: 8px 0 0 0;
}

.Qr .textoU {
    border: none;
    padding: 2px 8px;
    border-radius: 12px;
    width: 150px;
    margin: 4px 0 0 0;
}

.Qr .btn {
    width: 160px;
    padding: 4px 8px;
    border-radius: 4px;
    border: none;
    margin: 8px 0 0 0;
}

.Qr .close-Qr {
    color: #ffffff;
    border: none;
    display: flex;
    float: left;
    margin: 2px 0 0 4px;
    position: absolute;
    padding: 2px;
    cursor: pointer;
    top: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.12);
}

.Qr .close-Qr img {
    width: 10px;
}

.Qr .close-Qr .der {
    display: block;
}

.Qr .close-Qr .Izq {
    display: none;
}

.contenedorQR {
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
}


/* fin de Qr code */


/* inicio del bot  */

.Bot {
    width: 45px;
    height: 45px;
    /* background-color: rgba(255, 0, 149, 0.404); */
    margin: 0;
    display: flex;
    position: absolute;
    bottom: 30px;
    align-items: center;
    justify-content: bottom;
    text-align: center;
    flex-direction: column;
    border-radius: 50%;
    animation-name: move;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


/* active */

.Bot.green {
    width: 340px;
    height: 400px;
    /* background-color: rgba(255, 0, 149, 0.404); */
    margin: 0;
    display: flex;
    position: absolute;
    left: 11px;
    bottom: 30px;
    align-items: center;
    justify-content: bottom;
    text-align: center;
    flex-direction: column;
    border-radius: 8px;
    animation-name: none;
    animation-duration: none;
    animation-iteration-count: none;
    animation-direction: none;
    /* overflow: scroll; */
    padding: 0;
}

.Bot .btn-IcoBot {
    background-color: #0f202756;
    margin: 0;
    border: none;
    border-radius: 8px 8px 0 0;
    padding: 4px;
    backdrop-filter: blur(2px);
    cursor: pointer;
}


/* active */

.Bot.green .btn-IcoBot {
    background-color: #0f202756;
    width: 100%;
    height: 50px;
}

@keyframes move {
    from {
        width: 65px;
    }
    to {
        width: 140px;
    }
}

.Bot img {
    width: 60px;
}


/* active */

.Bot.green img {
    width: 40px;
}

.Bot.green .cont-Bot {
    width: 100%;
    height: 350px;
    background-color: rgb(237, 253, 171, 0.9);
    backdrop-filter: blur(2px);
    display: flex;
    align-items: center;
    justify-content: top;
    text-align: center;
    margin: 0;
    font-size: 24px;
    flex-direction: column;
    overflow: scroll;
    padding: 0;
    border-radius: 0 0 8px 8px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-corner,
::-webkit-scrollbar-button,
::-webkit-scrollbar {
    background-color: transparent;
    color: transparent;
    width: 1px;
    height: 1px;
}

.Bot.green .cont-Bot h1 {
    color: rgb(36, 36, 66);
    text-shadow: 2px 2px 2px#255464be;
    font-size: 22px;
    width: 100%;
    padding: 8px 0 8px 0;
}

.Bot .close-Bot {
    font-size: 0;
    color: transparent;
}

.Bot.green .close-Bot {
    font-size: 16px;
    text-shadow: 1px 1px 2px rgb(113, 65, 65);
    color: red;
    float: left;
    margin: 16px 0 0 12px;
}

.Bot.green .cont-Bot label {
    width: 100%;
    color: rgb(16, 34, 74);
    font-size: 14px;
}

.Bot.green .btn-answer {
    width: 70%;
    height: auto;
    color: rgb(24, 24, 58);
    font-size: 12px;
    background-color: rgba(252, 110, 33, 0.622);
    cursor: pointer;
    border-radius: 20px 20px 2px 20px;
    margin: 8px;
    padding: 8px;
    /* text-align: right; */
}

.Bot.green .btn-answerB {
    width: 70%;
    height: auto;
    color: rgb(24, 24, 58);
    font-size: 12px;
    background-color: rgba(255, 234, 0, 0.534);
    cursor: pointer;
    border-radius: 20px 20px 20px 2px;
    margin: 8px;
    padding: 8px;
    /* text-align: left; */
}

.cont-Bot,
.cont-Bot h1,
.cont-Bot label,
.cont-Bot .btn-answer,
.cont-Bot .btn-answerB {
    width: 0;
    height: 0;
    font-size: 0;
    margin: 0;
    border: none;
}


/* fin del boot */


/* inicio de la configuracion del usuario */

.UserAccount {
    width: 24px;
    height: 24px;
    bottom: 1px;
    display: flex;
    position: absolute;
    right: 4px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: rgb(213, 245, 85);
    border-radius: 50%;
    border: none;
}

.UserAccount img {
    width: 22px;
    height: 22px;
}

.usrAcc {
    width: 0;
    height: 0;
    background-color: transparent;
    text-align: left;
    padding: 0;
    margin: 0;
    border-radius: 0;
    display: flex;
    justify-content: top;
    align-items: left;
    flex-direction: column;
    bottom: 0;
    right: 0;
    position: absolute;
    font-size: 0;
}

.usrAcc h4 {
    color: transparent;
    filter: drop-shadow(0px 0px 0px hsl(0deg 0% 0% / 0.1));
    padding: 0;
    font-size: 0;
}


/* configuracion del hover */

.usrAcc.yellow {
    width: 240px;
    height: 200px;
    background-color: rgba(7, 43, 62, 0.535);
    backdrop-filter: blur(2px);
    text-align: left;
    padding: 0;
    margin: 0;
    border-radius: 10px;
    display: flex;
    justify-content: top;
    align-items: left;
    flex-direction: column;
    bottom: 28px;
    right: 4px;
    position: absolute;
    cursor: pointer;
}

.usrAcc.yellow h4 {
    color: white;
    filter: drop-shadow(3px 3px 0.8px hsl(0deg 0% 0% / 0.5));
    padding: 16px 0 0 20px;
    font-size: 16px;
    cursor: pointer;
}


/* fin configuracion del hover */


/* fin de la configuracion del usuario */


/* comienso del footer */

.footer {
    width: 100%;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(44, 83, 100);
    letter-spacing: 5px;
}

.footer h1 {
    color: white;
    font-size: 14px;
    text-shadow: 2px 2px 2px#111111;
}


/* fin del footer */